# TASK 1 : Iris Classification

In [12]:
import pandas as pd

In [13]:
with open("C:\Program Files\Datasets\Iris.csv") as f:
    print(f)

<_io.TextIOWrapper name='C:\\Program Files\\Datasets\\Iris.csv' mode='r' encoding='cp1252'>

In [14]:
path=r"C:\Program Files\Datasets\Iris.csv"
df=pd.read_csv(path)

### Dataset

In [15]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [16]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [17]:
pd.unique(df.Species)

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [18]:
species_to_target = {
    'Iris-setosa': 0,
    'Iris-versicolor': 1,
    'Iris-virginica': 2
}

df['target'] = df['Species'].map(species_to_target)

### <i> Splitting Data in to training set & testing set </i>

In [19]:
from sklearn.model_selection import train_test_split

dff = df.drop(['target','Species'], axis=1)
y = df['target']

X_train, X_test, y_train, y_test = train_test_split(dff,y,test_size=0.5, random_state=32)

### <i> Model Fitting (k-nearest neighbors algorithm)</i>

In [20]:
from sklearn import neighbors

model=neighbors.KNeighborsClassifier().fit(X_train , y_train)

### <i> Accuracy Measures </i>

In [29]:
from sklearn import metrics
from sklearn.metrics import classification_report

ac = model.score(X_test , y_test)
ypred = model.predict(X_test)
print("Accuracy Score : ",round(ac,2))
print("Classification Report : ")
print(classification_report(y_test,ypred))

Accuracy Score :  0.97
Classification Report :
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        30
           1       1.00      0.90      0.95        21
           2       0.92      1.00      0.96        24

    accuracy                           0.97        75
   macro avg       0.97      0.97      0.97        75
weighted avg       0.98      0.97      0.97        75

### <i>Confusion Metrics</i>

In [16]:
from sklearn.metrics import confusion_matrix

matrix =confusion_matrix(y_test, y_test)
matrix

array([[30,  0,  0],
       [ 0, 21,  0],
       [ 0,  0, 24]], dtype=int64)

### <i> Model fitting (Gaussian Naive Bayes Algorithm) </i>

In [26]:
from sklearn.naive_bayes import GaussianNB

model2=GaussianNB().fit(X_train,y_train)

### <i> Accuracy Measures </i>

In [30]:
ypred2 = model2.predict(X_test)

ac2=model2.score(X_test,y_test)
print("Accuracy ",round(ac2,2))
print("Classification Report : ")
print(classification_report(y_test,ypred2))

Accuracy  0.99
Classification Report :
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        30
           1       0.95      1.00      0.98        21
           2       1.00      0.96      0.98        24

    accuracy                           0.99        75
   macro avg       0.98      0.99      0.99        75
weighted avg       0.99      0.99      0.99        75

### <font color='brown'><b> Conclusion : Both the models are performing well but Gaussian Naive Bayes is achieving higher accuracy than K-nearest neighbors algorithm.Thus it can be said that GausianNB is better for this dataset </b></font>